@charset "UTF-8";
body {color:black;}
body {background-color:#f8f8ff;}

h1{font-size: 40px;}
.headline { color: white; background:#006400;width: 1254px;
	          padding:20px 0px 15px 10px;margin-bottom: 10px}


img{width:1224px;height:968px;}

.relative{position: relative;}
.absolute{position: absolute;
	      width: 500px;height: 290px;
        top:5px;left:10px;}
.absolute2{position: absolute;
	      width: 610px;height: 432px;
        top:530px;left:60px;}
.absolute3{position: absolute;
	      width: 589px;height: 417px;
        top:480px;left:680px;}
.absolute4{position: absolute;
	      width: 400px;height: 274px;
        top:250px;left:420px;}
a:hover img{transform: translateY(0.5em);}

.info img{width:300px;height: 100px;margin:10px;}
.footer p{font-size:20px;font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;margin-bottom:10px;}
        
.footer { color:white;background:#006400;
	      width: 1254px;height:50px;
	      padding:10px 0px 10px 30px;margin-top:30px;}
  
