@charset "UTF-8";
body {color:black;}
body {background-color:#f8f8ff;}

h1{font-size: 40px;}
.headline { color: white; background:#006400;width: 1254px;
	          padding:20px 0px 15px 10px;margin-bottom: 10px}

img{width:500px;height:500px;margin-top:30px;}
h2{font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}
p{font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}

