@charset "UTF-8";
body {color:black;}
body {background-color:#f8f8ff;}

h1{font-size: 40px;}
.headline { color: white; background:#006400;width: 1254px;
	          padding:20px 0px 15px 10px;margin-bottom: 10px;}

.main img{width:450px;height:300px;}
.maeoki{margin-top:40px;margin-bottom:60px;font-size:18px;}

.picture2 img{width:450px;height:650px;}
.picture3 img{width:450px;height:650px;margin-top:40px;}
.picture4 img{width:450px;height:650px;margin-top:40px;}
.picture5 img{width:450px;height:650px;margin-top:40px;}
.picture67 img{width:500px;height:350px;margin-top:40px;}
.picture8 img{width:450px;height:600px;margin-top:40px;}
.picture9 img{width:450px;height:650px;margin-top:40px;}
.picture10 img{width:500px;height:350px;}
.picture1112 img{width:500px;height:350px;margin-top:40px;}
.picture13 img{width:500px;height:350px;margin-top:40px;}
.picture1415 img{width:450px;height:600px;margin-top:40px;}
.picture1617 img{width:500px;height:350px;margin-top:40px;}
.picture18 img{width:450px;height:600px;}

p{font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}
